{% extends 'base.html.twig' %}

{% block title %}Nos biens
{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
	integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
	crossorigin="anonymous" />
{% endblock %}

{% block body %}
	<div class="jumbotron">
		<div class="container">
			{{form_start(form)}}
				<div class="form-row align-items-end">
					<div class="col">
						{{form_row(form.maxPrice)}}	
					</div>
					<div class="col">
						{{form_row(form.minSurface)}}
					</div>
					<div class="col">
						{{form_row(form.options)}}
					</div>
					<div class="col">
						<div class="form-group">
							<button class="btn btn-primary">Rechercher</button>
						</div>
					</div>
				</div>
			{{form_end(form)}}
		</div>
	</div>
	<div class="container mt-4">
		<h1 class="display-4">Voici tous nos biens</h1>

		<div class="row">
			{% for property in properties %}
				<div class="col-md-4">
					{% include "property/_property.html.twig" %}
				</div>
			{% endfor %}
		</div>

		<div class="pagination">
			{{ knp_pagination_render(properties) }}
		</div>
	</div>
{% endblock %}
