{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}

<div class="container-fluid text-center">
    <h2>Bienvenu sur votre dashboard, {{ user.username }}</h2>
</div>

<div class="container mt-4">

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{message}}
            </div>
        {% endfor %}

        {% for emailVerify in app.flashes('email_no_verify') %}
            <div class="alert alert-danger" role="alert">{{ emailVerify }}</div>
        {% endfor %}

        {% for flashError in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}

    <h3>Gérer vos biens</h3>

    <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Titre</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for property in properties %}
                <tr>
                    <td>{{property.title}}</td>
                    <td><a href="{{path('dashboard.property.edit', {id: property.id})}}" class="btn btn-secondary">Editer</a>
                    <form action="{{path('dashboard.property.delete', {id: property.id})}}" method="post" style="display: inline-block" onsubmit="return confirm('Etes-vous sur ?')">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{csrf_token('delete' ~ property.id)}}">
                        <button class="btn btn-danger">Supprimer</button>
                    </form>
                    </td>       
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="text-right">
            <a href="{{path('dashboard.property.new')}}" class="btn btn-primary">Créer un nouveau bien</a>
        </div>
</div>
{% endblock %}
