{% extends 'base.html.twig' %}

{% block title %}Hello DashboardPropertyController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{message}}
            </div>
        {% endfor %}

        {% for flashError in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/xampp/htdocs/tuto_symfony/src/Controller/DashboardPropertyController.php'|file_link(0) }}">src/Controller/DashboardPropertyController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/xampp/htdocs/tuto_symfony/templates/dashboard_property/index.html.twig'|file_link(0) }}">templates/dashboard_property/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
