<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Agence alive{% endblock %}
		</title>
			<link rel="icon" type="image/x-icon" href="{{ asset('build/img/favicon.ico') }}" />
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">
            {# 'app' must match the first argument to addEntry() in webpack.config.js {{ encore_entry_link_tags('app') }} #}
             

            <!-- Renders a link tag (if your module requires any CSS)
                 <link rel="stylesheet" href="/build/app.css"> -->
        {% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}
		</head>
		<body>

			<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item active">
                                    <a class="navbar-brand" href="{{ path('home') }}">Agence Alive</a>
                                </li>
								<li class="nav-item">
                                    <a class="nav-link {% if current_menu is defined and current_menu == 'properties'%}active{%endif%}" href="{{ path('property.index') }}">Acheter</a>
                                </li>
								{% if is_granted('ROLE_ADMIN') %}
									<li class="nav-item">
                                    	<a class="nav-link {% if current_menu is defined and current_menu == 'logs'%}active{%endif%}" href="{{ path('admin.log') }}">Log</a>
                                	</li>
									<li class="nav-item">
                                    	<a class="nav-link {% if current_menu is defined and current_menu == 'logs'%}active{%endif%}" href="{{ path('admin.property.index') }}">Panel admin</a>
                                	</li>
								{% endif %}
								{% if is_granted('ROLE_USER') %}
									<li class="nav-item">
                                    	<a class="nav-link {% if current_menu is defined and current_menu == 'logs'%}active{%endif%}" href="{{ path('dashboard.property.index') }}">Tableaux de bord</a>
                                	</li>
								{% endif %}
                            </ul>
							{% if not app.user %}
								<ul class="navbar-nav">
									<li class="nav-item ">
										<a class="nav-link" href="{{ path('app_register') }}">S'inscrire</a>
									</li>
									<li class="nav-item ">
										<a class="nav-link" href="{{ path('app_login') }}">S'identifier</a>
									</li>
								</ul>
							{% endif %}
							{% if app.user %}
								<ul class="navbar-nav">
									<li class="nav-item ">
										<a class="nav-link" href="{{ path('app_logout') }}">Se déconnecter</a>
									</li>
								</ul>
							{% endif %}
                        </div>
                    </nav>
					{% block body %}{% endblock %}
					<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
					<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
					<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
					<script>
							$('select').select2();
					</script>
					{% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
		</body>
	</html>
</html>
